<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.woc.mapper.UserMapper">

    <!--示例-->
    <insert id="test">
        INSERT INTO testTable (testField) VALUE value
    </insert>

    <select id="queryAll" resultType="com.example.woc.entity.Account">
        select * from mabatis.account
    </select>
    <select id="queryByName" parameterType="String" resultType="com.example.woc.entity.Account">
        select * from mabatis.account where username = #{username}
    </select>
    <select id="queryByEmail" parameterType="String" resultType="com.example.woc.entity.Account">
        select * from mabatis.account where email = #{email}
    </select>
    <delete id="deleteAccountById" parameterType="Integer">
        delete from mabatis.account where id=#{id}
    </delete>

    <update id="updateAccount" parameterType="com.example.woc.entity.Account">
        update mabatis.account
        set `username` = #{username},`password`= #{password}
        where id = #{id}
    </update>

    <insert id="addAccount" parameterType="com.example.woc.entity.Account">
        insert into mabatis.account(username, password,email,role) values (#{username},#{password},#{email},#{role})
    </insert>
    <delete id="deleteAll" >
        delete from mabatis.account;
    </delete>
</mapper>